<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CultureBox/main.css' %}">
  {% if title %}
    <title>Culture Box - {{ title }}</title>
  {% else %}
    <title>Culture Box</title>
  {% endif %}

  <style>

  </style>
</head>
<body>
  <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'CultureBox-home' %}">Culture Box</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'CultureBox-home' %}">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
              <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
          <div class="main-section">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4" id="sidebar">
            <div class="content-section">
              <h5><i class="fa fa-copyright"></i> 2018 Koki Ando</h5>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a class="open" id="side-item2" href="#">About</a></li>
                  <div class="popup-overlay" id="popup-item2">
                    <div class="popup-content">
                      <h2>Terms of Use</h2>
                    </div>
                  </div>
                <li class="list-group-item list-group-item-light"><a class="open" id="side-item2" href="#">Announcements</a></li>
                  <div class="popup-overlay" id="popup-item2">
                    <div class="popup-content">
                      <h2>Terms of Use</h2>
                    </div>
                  </div>
                <li class="list-group-item list-group-item-light"><a class="open" id="side-item3" href="#">Terms</a></li>
                  <div class="popup-overlay" id="popup-item3">
                    <div class="popup-content">
                      <h2>About</h2>
                    </div>
                  </div>
                <li class="list-group-item list-group-item-light"><a class="open" id="side-item4" href="#">Contact</a></li>
                  <div class="popup-overlay" id="popup-item4">
                    <div class="popup-content">
                      <h2>Announcements</h2>
                    </div>
                  </div>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </main>
      <div class = "maintainer">
        This web site is maintained by <a href = "https://twitter.com/ko25and" target="_blank">@ko25ando</a>
      </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
