{% extends 'CultureBox/layout.html' %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"Y-m-d H:i:s" }}</small>
        {% if object.author == user %}
          <div>
            <a class= "btn btn-secondary btn-sm mt-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class= "btn btn-danger btn-sm mt-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
        <h1>"{{ post.interest }}"</h1>
      </div>
      <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
      <p>#{{ post.category }}</p>
      <a class="article-content" href="{{ post.link }}" target="_blank" id="post_link"><i class="fa fa-link"></i>Link</a>
    </div>
  </article>
{% endblock content%}
